
  @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Merriweather&family=Oswald&family=Playfair+Display&family=Rajdhani:wght@500&family=Tilt+Prism&family=Tulpen+One&display=swap');

*{
  margin: 0;
  padding: 0;
}
.main{
  padding: 0px 0px 262px;
  background-color: black;
}
.text{
  padding-top: 28px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  /* background-color: black; */
  z-index: 999;
  padding: 10px;
  text-transform: uppercase;
  background-color: black;
  /* margin: 0px 20px; */
  border-bottom: 1px solid #dadada;
}
nav .brand{
  display: flex;
  gap:5px;
}
nav img{
  width: 28px;
}
nav .navmiddle{
  display: flex;
  gap:40px;
}
.middletext span{
  margin-bottom: 10px;
}
nav .navlast{
  display: flex;
  align-items: center;
  gap:20px;
}
nav a{
  text-decoration: none;
  /* background-color: white; */
  color:white;
  padding: 5px 10px;
  text-align: center;
}
nav button{
  text-transform: uppercase;
  border: none;
  padding: 5px 10px;
}
.main{
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/f8/22/13/f82213b334541c0a2e83e3bf733f881f.gif);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
}
.main h1{
  text-transform: uppercase;
  font-size: 65px;
  color: #1A5276;
}
.navmiddle a{
  text-decoration: none;
  /* background-color: black; */
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  overflow: hidden;

}
.brand,.navmiddle,.navlast a,.navlast button,.scrolldown{
  cursor: pointer;
}
.text .complex{
   text-align: center;
}
.navmiddle :hover,#contact :hover{
  color: red;
}

.main span{
  background-color: brown;
  color: #FFCD4B;
  font-size: 20px;
  padding: 9px 14px;
  border-radius: 25px;
  position: relative;
  bottom: 13px;
  margin: 0px 14px;
  cursor: pointer;
  height: 60px;
}
.main>img{
  height: 200px;
  width: 140px;
  border-radius: 20px;
}
.left-img{
  position: absolute;
  top: 100px;
  left: 150px;
}
.right-img{
  position: absolute;
  bottom: 100px;
  right: 150px;
}
.scrolldown{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:4px;
  bottom: 50px;
  right:50%;
  color:black;
  margin-top: 30vh;
}
.scrolldown img{
  background-color: white;
  height: 15px;
  border-radius: 50%;
}
#contact{
  background-color:white;
  color: black;

}
/* footer_styling */
#footer{
  display: flex;
  font-family:'Merriweather', serif;
  flex-direction: column;
  height: 167px;
  width: 100%;
  background-color:#4F709C;
  color: black;
}
.first-footer{
  display: flex;
  padding: 30px 0px 10px;
  justify-content: center;
  gap: 10px;
}
.contact-title{
  display: flex;
  justify-content: center;
  margin:-41px;
}
.copyright{
  text-align: center;
  padding-top: 5px;
}
.specific-icon{
  font-size: 1rem;
}
.contact-btn{
  font-family:'Merriweather', serif;
  padding:0px 10px;
  color: black;
  border: none;
  border-radius: 30px;
  background-color:#B4B4B3;
  position: relative;
  bottom: 22px;
}
i{
  background-color: black;
  color:white;
  font-size: 1.5rem;
  padding: 4px;
  border-radius: 5px;
}
.footer_icons{
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 4px;
}
.gmail , .ph{
display: flex;
justify-content: center;
gap: 4px;
}

